body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/* page formulaire */
.contact {
    text-align: center;
    margin-top: 50px;
}

.contact h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


.text-contact {
    max-width: 600px;
    margin: 0 auto;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.text-contact p {
    margin-bottom: 30px;
}

.contact h1::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #007bff; 
    margin: 10px auto;
}


.contact, .text-contact {
    padding: 20px;
}


@media (max-width: 768px) {
    .text-contact p {
        font-size: 16px;
    }

    .contact h1 {
        font-size: 28px;
    }
}


.container {
    max-width: 600px; 
    margin: 50px auto; 
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.form-label {
    font-weight: bold; 
    margin-top: 15px; 
    color: #343a40; 
}

.form-control {
    margin-top: 5px; 
    padding: 10px;
    border: 1px solid #ced4da; 
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    transition: border-color 0.3s ease; 
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

textarea.form-control {
    height: 150px; 
    resize: none;
}

.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.about-us {
    background-color: #fffcf8;
    padding: 50px 0;
}

.about-us h2 {
    text-align: center;
    font-size: 32px;
    color: #6AAB9C;
    margin-bottom: 30px;
}

.about-us p {
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
}